server:
  port: 8081

spring:
  r2dbc:
    url: r2dbc:h2:mem:///employeedb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    websocket:
      path: /graphql
    cors:
      allowed-origins: "http://localhost:5173,http://localhost:5174,http://localhost:3000,http://127.0.0.1:5173,http://127.0.0.1:5174,http://127.0.0.1:3000"
      allowed-methods: "*"
      allowed-headers: "*"
    schema:
      printer:
        enabled: true

logging:
  level:
    org.springframework.graphql: DEBUG
    com.example.employeemanager: DEBUG
